@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Poetsen One", sans-serif;
}

.card {
  width: 300px;
  padding: 0 0 30px;
  margin: 30px auto;
  border-radius: 5px;
  text-align: center;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 5px black;
}

.imagen {
  width: 100%;
  height: 280px;
  /* object-fit: cover; */
  display: block;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;

}

.titulo {
  color: #a60909;
  text-align: center;
  margin: 20px 0px 10px;
}

.texto {
  text-align: center;
}

.boton {
  display: block;
  text-align: center;
  background: #a60909;
  padding: 13px 0px;
  color: #f2f2f2;
  border-radius: 5px;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  text-decoration: none;
}