* {
  /*Resetear estilos por defecto de HTML*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /*Estilos generales*/
}

body{
  font-family: Arial;
  height: 300vh;
}

header {
  background-color: blueviolet;
  height: 80px;
  width: 100%;
  position: sticky;
  color: #fff;
  top:0;
}

header a{
  color: #fff;
  padding: 20px;
}

.container {
  width: 450px;
  height: 530px;
  margin: 20px auto;
  border: 5px solid steelblue;
  position: sticky;
  top: 80px;
}

.box{
  background: crimson;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

/*-------------------------------------------------------- STATIC*/

/* Los static no toman top, bottom, left, right ni z-index */
/*.static {
  position: static;
  left: 100px; -- No lo toma porque es estático
}*/


/*-------------------------------------------------------- RELATIVE*/
/* Los relative se mueven en función de su ubicación original */
/* .relative {
  position: relative;
  background: rgb(88, 235, 88);
  left: 100px;
  bottom: 120px
} */

/*-------------------------------------------------------- ABSOLUTE*/
/* Si su padre es static, se ubica de acuerdo a toma la pestaña del HTML. Si el padre es relative, se ubica dentro de su contenedor padre. */
/* .absolute {
  background: purple;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
} */

/*-------------------------------------------------------- FIXED*/
/* Se ubica de acuerdo al body */
.fixed {
  position: fixed;
  background-color: rgb(162, 248, 248);
  right: 0;
  bottom: 0;
}