@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d46589 0%, #fd9f85a3 100%), url('../img/galaxia.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient(to top, #cfd9df8d 0%, #e2ebf0 100%);
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  padding: 16px;
}


.enlace {
  display: flex;
  text-decoration: none;
  font-size: 20px;
}

